POSTGRES_DB=sales_operational
POSTGRES_USER=sales_user
POSTGRES_PASSWORD=sales_password_123
POSTGRES_PORT=5432

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password_123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
PORT=5001
